.breadcrumb {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  margin-top: 2.8125rem;
  width: 100%;
  padding: 0 1rem;
}

.breadcrumb>a {
  display: flex;
}

.breadcrumb>a span {
  display: flex;
  color: #3F4E65;
}

.breadcrumb .separator {
  width: 0px;
  height: 16px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
  margin: 0 0.625rem;
}

.breadcrumb>a:last-child .separator {
  display: none;
}

.breadcrumb>a:last-child span {
  opacity: 0.5;
}

