.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 599;
}

.modal--show {
  display: block;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 46rem;
  height: 26.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__img-close {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
}

.modal__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 1.5rem 0 1.25rem;
}

.modal__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #3F4E65;
}

@media (max-width: 760px) {
  .modal__content {
    width: 18.125rem;
    height: 18.125rem;
  }

  .modal__img-close {
    top: 0.625rem;
    right: 0.625rem;
  }

  .modal__title {
    font-size: 20px;
    margin: 1.25rem 0 0.625rem;
  }

  .modal__text {
    font-size: 12px;
  }
}