.basket {
  margin-top: 2.8125rem;
  padding-bottom: 3.125rem;
}

.basket__bread-crumbs {
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #3F4E65;
}

.basket__bread-crumbs>*:not(:first-child):not(.separator) {
  opacity: 0.5;
}

.basket>h1 {
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
  padding: 3.125rem 0;
  border-bottom: 1px dashed #3F4E65;
}

.basket__bread-crumbs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.separator {
  width: 0px;
  height: 16px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
  margin: 0 0.625rem;
}

.basket__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.125rem 0;
}

.basket__sum {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}