.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 12px;
  background: #FFC85E;
  border-radius: 79px;
  width: 100%;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #FFFFFF;
}

.btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn span {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-round {
  width: 3.6875rem;
  height: 3.6875rem;
}

.btn-round>img {
  width: 1.5625rem;
  height: 1.5625rem;
}

.btn-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  gap: 10px;

  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
}

/*   */

.product-card__inc-dec {
  display: flex;
  align-items: center;

}

.product-card__inc-dec>input {
  width: 44px;
  text-align: center;
}