.catalog {
  padding-left: 1rem;
  padding-right: 1rem;
}

.catalog__bread-crumbs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0px;
  gap: 10px;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #3F4E65;
}

.catalog__bread-crumbs>*:not(:first-child):not(.separator) {
  opacity: 0.5;
}

.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog h1 {
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
  margin: 3.125rem 0;
}

.catalog__sort-wrapper {
  position: relative;
}

.catalog__sort-wrapper--mobile {
  display: none;
}

.catalog__sort {
  display: flex;
}

.catalog__sort> :first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  padding-right: 1rem;
}

.catalog__sort> :last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3F4E65;
  cursor: pointer;
}

.catalog__sort> :last-child:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__sort-popover {
  display: none;
  background: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, .08);
  border-radius: 8px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .16);
  max-width: 460px;
  min-width: 300px;
  overflow: hidden;
  position: absolute;
  transition: opacity .4s;
  z-index: 1001;
  left: -7rem;
  top: 2rem;
}

.catalog__sort-popover_show {
  display: block;
}

.catalog__top-filter {
  display: flex;
}

.catalog__top-filter-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  background: #FFFFFF;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3F4E65;
}

.catalog__top-filter-label:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__top-filter-label:active {
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__top-filter input {
  opacity: 0;
  height: 0;
  width: 0;
}

.catalog__main {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 0 6.375rem;
}

.catalog__left {
  display: flex;
  flex-direction: column;
  width: 14.875rem;
  text-align: left;
  margin-top: 1.25rem;
  margin-right: 3rem;
}

.catalog__left> :first-child {
  margin-bottom: 0.625rem;
}

.catalog__left-inputs {
  display: flex;
  margin: 1rem 0 0.625rem;
}

.catalog__left-inputs> :first-child {
  margin-right: 0.625rem;
}

.catalog__left-inputs> :last-child {
  margin-left: 0.625rem;
}

.catalog__left-inputs>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  gap: 10px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  width: 7rem;
}

.catalog__left-inputs input {
  border: none;
  background-color: inherit;
  width: 5rem;
  text-align: center;
}

.catalog__left-brand {
  padding: 1.25rem 0;
  border-bottom: 1px dashed #3F4E65;
}

.catalog__left-brand .search {
  width: 18.125rem;
}

.catalog__left-brand> :first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin-bottom: 0.9375rem;
}

.catalog__left-brand-list {
  margin: 0.9375rem 0;
}

.catalog__left-brand-list>*:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.catalog__left-filter {
  padding: 1.25rem 0;
  border-bottom: 1px dashed #3F4E65;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
}

.catalog__left-filter>*:not(:last-child) {
  padding-bottom: 0.625rem;
}

.catalog__left-filter-label {
  display: flex;
}

.catalog__left-filter-label span:hover {
  font-weight: bolder;
}

.catalog__left-filter-label span:active {
  font-weight: normal;
}

.catalog__left-filter input {
  opacity: 0;
  height: 0;
  width: 0;
}

.catalog__controls {
  display: flex;
  align-items: center;
  margin: 1.5625rem 0;
}

.catalog__btn-show {
  margin-right: 0.625rem;
  width: 13.5rem;
  height: 3.6875rem;
}

.catalog__left-brands-logo {
  padding: 1.25rem 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #111111;
}

.catalog__left-brands-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  margin: 5px;
}

.catalog__left-logos {
  display: flex;
  flex-wrap: wrap;
}

.catalog__products {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.3125rem;
}

.catalog__products>* {
  justify-self: end;
}

.catalog__products--mobile {
  display: none;
  flex-direction: column;
}


.catalog__text {
  text-align: left;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
}

/* Pagination */

.pagination {
  margin: 3.125rem 0 4.25rem;
}

.pagination li {
  margin-right: 1.3125rem;
}

.pagination ul>:first-child {
  margin-right: 2.1875rem;
}

.pagination ul>:last-child {
  margin-left: 2.1875rem;
}

.pagination a {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #3F4E65;
}

.pagination img {
  display: flex;
  align-items: center;
}

.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  gap: 10px;
  width: 35px;
  height: 35px;

  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
}

.pagination__next {
  transform: rotate(180deg);
}

@media (max-width: 1350px) {
  .catalog__products {
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }

  .catalog__products>* {
    justify-self: center;
  }
}

@media (max-width: 1200px) {
  .catalog__top-filter {
    display: none;
  }
}

@media (max-width: 1000px) {
  .catalog__products {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 900px) {
  .catalog__header {
    flex-direction: column;
    align-items: start;
  }

  .catalog__header h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #111111;
  }
}

@media (max-width: 680px) {
  .catalog__main {
    flex-direction: column;
    align-items: center;
  }

  .catalog__header {
    align-items: center;
  }

  .catalog__left {
    margin-right: 0;
  }

  .catalog__sort-wrapper {
    display: none;
  }

  .catalog__sort-wrapper--mobile {
    display: flex;
    position: relative;
  }

  .catalog__left-brands-logo {
    display: none;
  }
}

@media (max-width: 420px) {
  .catalog__products {
    display: none;
  }

  .catalog__products--mobile {
    display: flex;
  }

  .catalog__main {
    align-items: start;
  }

  .catalog__header {
    align-items: start;
  }

  .catalog__sort-popover {
    left: 0;
    top: 2rem;
    min-width: 270px;
  }
}