.checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  cursor: pointer;
  margin: 0;

  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
}

.checkbox-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #3F4E65;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox__span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  box-sizing: border-box;

  border: 0.5px solid #3F4E65;
  border-radius: 1px;
}

.checkbox__span--radio {
  border-radius: 50%;
}

/* Для галочки*/
.checkbox__span::before {
  content: "";
  position: absolute;
  display: none;
  left: 2px;
  top: 0;
  width: 4px;
  height: 6px;
  border: solid #3F4E65;

  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.checkbox__span--radio::before {
  border-width: 4px;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}

.checkbox__label:hover .checkbox__input~.checkbox__span {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.checkbox__input:checked~.checkbox__span::before {
  display: block;
}

.checkbox-count:before {
  content: "(";
}

.checkbox-count:after {
  content: ")";
}