.footer-wrap {
  background: #3F4E65;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;

  text-align: start;
  padding: 4.4375rem 0 7.25rem;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.footer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 1.5625rem;
}

.footer__col1 {
  max-width: 18rem;
}

.footer__col1> :nth-child(2) {
  font-size: 16px;
  line-height: 150%;
  margin-top: 0.9375rem;
  margin-bottom: 2.8175rem;
}

.footer__col1> :nth-child(3) {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 0.875rem;
}

.footer__search {
  width: 17.625rem;
  height: 3.6875rem;
}

.footer__group {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column;
  }

  .footer__col1 {
    align-self: center;
  }

  .footer__group {
    margin-top: 1.875rem;
  }
}

.footer__col2 li,
.footer__col3 li {
  margin-bottom: 1.25rem;
}

.footer__col4> :nth-child(3) {
  margin-top: 1.25rem;
  margin-bottom: 0.9375rem;
}

.footer__col4> :nth-child(4) :first-child {
  margin-right: 0.625rem;
}

.footer__btn-download-btn-wrap {
  width: 13.375rem;
}

.footer__btn-download {
  height: 3.6875rem;
}

.footer__col5 :nth-child(2) {
  font-weight: 600;
}

.footer__col5 :nth-child(3) {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
}

.footer__col5 :nth-child(4) {
  font-size: 10px;
  text-decoration-line: underline;
  line-height: 150%;
}

.footer__col5 :nth-child(5) {
  margin: 1.5625rem auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.footer__col5 :nth-child(5) span {
  font-weight: 300;
  font-size: 12px;
  line-height: 130.02%;
}