.header {
  padding-top: 0.875rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

a {
  text-decoration-line: none;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.header__contacts {
  display: flex;
  align-items: center;
  text-align: start;
}

@media (max-width: 800px) {
  .header__contacts {
    display: none;
  }
}

.header__address {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}

.header__address>img {
  width: 1.25rem;
  height: 1.25rem;
}

.header__address-main {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 600;
  line-height: 130.02%;
  color: #111111;
}

.header__address-main>div {
  font-weight: 300;
  font-size: 12px;
  line-height: 130.02%;
  color: #3F4E65;
}

.header__mail {
  display: flex;
}

.header__mail-main {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
}

.header__mail-main>div {
  margin-left: 1rem;
  font-weight: 300;
  font-size: 12px;
  line-height: 130.02%;
  color: #3F4E65;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu>* {
  margin-right: 1.875rem;
  margin-left: 1.875rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.header__menu>* a {
  color: #3F4E65;
}

.header__hamburger {}

.header__hamburger-wrapper {
  display: none;
  align-items: center;
}

.header__hamburger-wrapper .btn {
  padding: 0;
}

.header__hamburger-wrapper .btn-round {
  width: 2rem;
  height: 2rem;
}

.header__hamburger-wrapper .btn-round>img {
  width: 0.75rem;
  height: 0.75rem;
}

.header__menu--mobile {}

.header__logo-mobile-wrapper {
  display: none;
  align-items: center;
}

.header__logo-mobile {
  width: 6.0625rem;
}

.header__logo-wrapper {}

@media (max-width: 1100px) {
  .header__hamburger-wrapper {
    display: flex;
  }

  .header__menu {
    display: none;
  }

  .header__logo-wrapper {
    display: none;
  }

  .header__logo-mobile-wrapper {
    display: flex;
    order: -1;
  }
}

@media (max-width: 800px) {
  .header__hamburger-wrapper {
    order: -2;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header__catalog-btn-wrap {
  width: 12rem;
}

.header__catalog-btn {
  height: 3.6875rem;
}

.header__search {
  width: 16.4375rem;
  height: 3.6875rem;
}

.header__callback-wrap {
  display: flex;
  align-items: center;
}

.header__callback {
  text-align: end;
  margin-right: 0.875rem;
}

.header__callback :first-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}

.header__callback :nth-child(2) {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
}

.header__callback :last-child {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #3F4E65;
}

.header__manager {
  position: relative;
}

@media (max-width: 1100px) {
  .header__manager {
    display: none;
  }
}

.header__manager> :last-child {
  position: absolute;
  top: 1.5rem;
  left: 3.5rem;
}

.header__price-list-btn-wrap {
  width: 12.5rem;
}

@media (max-width: 1300px) {
  .header__price-list-btn-wrap {
    display: none;
  }
}

.header__price-list {
  height: 3.6875rem;
}

.header__basket {
  display: flex;
  align-items: end;
}

.header__basket-mobile {
  display: none;
  align-items: end;
}

.header__basket-mobile img {
  width: 22px;
}

.header__basket-mobile .header-basket__num {
  width: 17px;
  height: 17px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  left: 0.7rem;
}

@media (max-width: 800px) {
  .header__basket {
    display: none;
  }

  .header__basket-mobile {
    display: flex;
  }
}

.header__basket:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__basket:active {
  filter: none;
}

.header-basket {
  position: relative;
  margin-right: 1.5rem;
}


.header-basket__num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -0.5rem;
  left: 1.5rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  background: #FFC85E;
}

.header__basket-text> :first-child {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
}

.header__basket-text> :last-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}

.line {
  width: 100%;
  background: #3F4E65;
  opacity: 0.2;
}

@media (max-width: 690px) {
  .header__catalog-btn-wrap {
    display: flex;
    align-items: center;
    width: auto;
  }

  .header__catalog-btn-wrap .header__catalog-btn {
    height: auto;

    padding: 0;
    gap: unset;
    background: #FFFFFF;
    color: #3F4E65;
    border-radius: unset;

    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  .header__catalog-btn-wrap .header__catalog-btn img {
    display: flex;
    margin-right: 6px;
    order: -1;
    background: url(../assets/frame-grey.svg);
  }

  .header__search {
    width: unset;
    height: unset;
  }

  .search.header__search {
    padding: 0;
    background: #FFFFFF;
  }

  .search.header__search input {
    background-color: #FFFFFF;
    opacity: unset;
    color: #3F4E65;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    width: 3rem;
  }

  .search.header__search div {
    order: -1;
    background: #FFFFFF;
    width: unset;
    height: unset;
  }

  .search.header__search img {
    background-image: url(../assets/frame-grey.svg);
    background-repeat: no-repeat;
  }


  @media (max-width: 460px) {
    .header__bottom {
      justify-content: space-around;
    }

    .header__callback-wrap {
      display: none;
    }
  }
}