.product-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px dashed #3F4E65;
  padding: 3.125rem 0;
}

.product-card--col {
  flex-direction: column;
  max-width: 18.125rem;
  padding: 1.25rem 0;
}

.product-card--cat {
  flex-direction: column;
  width: 20.375rem;
  background: #FFFFFF;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 2.625rem 1.3125rem 1.8125rem 1.4375rem;
  border-bottom: none;
}

@media (max-width: 1250px) {
  .product-card {
    flex-direction: column;
  }
}

.product-card--cat:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
}

.product-card--cat:active {
  box-shadow: none;
}


.product-card--cat-mob {
  width: 18.125rem;
  padding: 1.8125rem 0.9375rem;
  box-shadow: 0px 9px 32px rgba(0, 0, 0, 0.04);
}

.product-card__pop {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 11px 26px;
  gap: 10px;

  background: #1FD85D;
  border-radius: 5px;
}

.product-card__pop {
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.045em;
  color: #FFFFFF;

}

.product-card__image {
  margin-right: 1.25rem;
  min-width: 17.5rem;
}

.product-card__image--col img,
.product-card__image--cat img {
  width: 100%;
}

.product-card__image--col,
.product-card__image--cat {
  margin-right: 0;
}

.product-card__image--cat-mob {
  padding-top: 0.8125rem;
}

.product-card__description {
  max-width: 30rem;
  text-align: left;
}

.product-card__unit {
  display: flex;
  align-items: center;
}

.product-card__unit img {
  margin-right: 0.5rem;
}

.product-card__unit span {
  font-size: 12px;
  line-height: 130%;
  color: #3F4E65;
}

.product-card h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #111111;
  margin: 0.5625rem 0 0.625rem;
}

.product-card h3:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card h3:active {
  text-shadow: none;
}

.product-card--col h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.product-card--cat h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin: 0.625rem 0 0;
}

.product-card--cat h3>span {
  font-weight: 700;
}

.product-card__detail {
  font-size: 14px;
  line-height: 150%;
  margin: 1.25rem 0 0.9375rem;
}

.product-card__detail>div:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.product-card__detail>div>:first-child {
  font-weight: 300;
  color: #3F4E65;
}

.product-card__detail>div>:last-child {
  font-weight: 500;
  color: #111111;
}

.product-card p {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
}

.product-card__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  max-width: 35%;
}

.product-card__control--col,
.product-card__control--cat {
  align-self: stretch;
  max-width: 100%;
}

.product-card__inc-dec {
  display: flex;
}

.product-card__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}

.product-card__price--sm {
  font-weight: 800;
  font-size: 16px;
  line-height: 130%;
  color: #111111;
}

.flex {
  display: flex;
  align-items: center;
}

.col {
  flex-direction: column;
}