.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px 13px 20px;
  gap: 10px;

  background: #EDEDED;
  border-radius: 36px;
}

.search input {

  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  color: #5C6370;

  opacity: 0.6;
  background-color: #EDEDED;
  width: 7rem;
}

.search div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  background: #FFC85E;
  border-radius: 50%;
}

.search img {
  flex: none;
  order: 1;
  flex-grow: 0;
}