.card {
  display: flex;
}

.card__right-side {
  text-align: start;
}

.card__header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  /* or 45px */
  color: #111111;
}

.card__header>h2 {
  display: inline;
}

.card__header>:last-child {
  font-weight: 400;
}

.card__form {
  display: flex;
  align-items: center;
}

.card__price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */
  color: #111111;
  margin-right: 2.5rem;
}

.btn-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  gap: 10px;

  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
}

.card-action {
  margin-left: 2.5rem;
}

.quantity {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  color: #3F4E65;
  width: 3rem;
  text-align: center;
}

.card__additional {
  display: flex;
}

.card__additional>* {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}

.card__promo {
  margin: auto 0.625rem;

}

.card__download>span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #3F4E65;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card__download>img {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 17px;
  height: 17px;
}

.card__detail {
  padding: 1.875rem 0;
}

.card__detail>div>:first-child,
.card__characteristic>div>:first-child {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  color: #3F4E65;
}

.card__detail>div>:last-child,
.card__characteristic>div>:last-child {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  color: #111111;
}


.card__description h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #111111;
}

.card__description p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  color: #3F4E65;
}

.card__characteristic h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #111111;
}